#road-border{
    border-left-style:dashed;
    border-left-color:white;
    border-left-width: 2px;


}


  @media (min-width: 0px) and (max-width: 480px){ 
    #custom-fs-5 {
    font-size: 1rem;
    color: #0B1644;
    letter-spacing: 6px;
  }
  #custom-fs-6{
    margin-top:-8%;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
@media (min-width: 481px) and (max-width: 768px)
{
    #custom-fs-5 {
    font-size: 4rem;
    color: #0B1644;
    
    }
    #custom-fs-6 {
        font-size: 2rem;
        margin-top: -12%;
        letter-spacing: 3px;
        }
}

@media (min-width: 769px) and (max-width: 1280px)
 {
    #custom-fs-5 {
    font-size: 9rem;
    color: #0B1644;
    }
    #custom-fs-6 {
        font-size: 4rem;
        margin-top: -9%;
        letter-spacing: 5px;
        }
}

@media (min-width: 1281px)
 {
  #custom-fs-5 {
    font-size: 9rem;
    color: #0B1644;
    }
    #custom-fs-6 {
    font-size: 5rem;
    margin-top: -9rem;
    letter-spacing: 5px;
    }
}
