.App {
  text-align: center;
  background-image: url("./assets/site-background.31680e4317294d15923e.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#menu {
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
  list-style: none;
}

#menu li a {
  padding: 15px 10px;
  color: white !important;
  display: block;
  
}
.App-link {
  color: #61dafb;
}
